// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '../../img';
$font-path: '../../fonts';

@import 'ticker';

.c-challenge-hero {
    text-align: center;
    background-image: url("/img/builders-challenge/hero-sm.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        @include font-size(56px);
    }

    h2 {
        @include font-size(28px);
    }

    .mzp-l-content {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    @media #{$mq-sm} {
        background-image: url("/img/builders-challenge/hero-md.png");
    }

    @media #{$mq-lg} {
        background-image: url("/img/builders-challenge/hero-lg.png")
    }

    @media #{$mq-xl} {
        background-image: url("/img/builders-challenge/hero-xl.png")
    }

    @media (min-width: 1440px) {
        background-image: url("/img/builders-challenge/hero-2x.png")
    }
}

.c-challenge-event {
    text-align: center;

    h4 {
        font-weight: normal;
    }

    .strong {
        font-weight: bold;
    }
}

.c-challenge-opportunity {
    background-color: $color-light-gray-20;

    h3 {
        text-align: center;
    }

    .mzp-l-columns {
        margin-top: $layout-md;
    }

    .c-opportunity-card {
        display: grid;
        grid-template-rows: minmax(60px, 80px) 1fr;

        h4 {
            font-weight: 500;
        }
    }
}

.c-details-section {

    .mzp-l-columns {
        margin: $layout-md 0;
    }

    .c-details-card {
        color: $color-black;
        padding: $spacing-xl;

        .strong {
            font-weight: bold;
        }

        h4 {
            color: $color-black;
            font-weight: 500;
        }

        &:nth-child(1) {
            background-color: $color-green-20;

            ul {
                list-style: disc;
                padding-left: 40px;
            }
        }

        &:nth-child(2) {
            background-color: $color-purple-20;

            li {
                margin-bottom: $spacing-md;
            }
        }

        &:nth-child(3) {
            background-color: $color-yellow-20;

            p {
                font-style: italic;
            }
        }
    }
}

.c-evaluation-section .mzp-l-columns {
    margin-top: $layout-lg;

    .c-evaluation-card {
        &:nth-child(1) {
            --card-number-color: #{$color-purple-20};
        }

        &:nth-child(2) {
            --card-number-color: #{$color-violet-20};
        }

        &:nth-child(3) {
            --card-number-color: #{$color-red-20};
        }

        p:first-of-type {
            color: var(--card-number-color);
        }
    }
}

.c-discord-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-md 0;

    p {
        margin: 0 $spacing-lg 0;

    }
}

// overrides from protocol newsletter to have single column layout
.c-builders-newsletter {
    padding-bottom: $spacing-xl;

    h3 {
        text-align: center;
    }

    .interests {
        max-width: 100%;
    }

    .mzp-c-newsletter {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;

        .builders-form {
            grid-column: 1;
            margin: 0 auto;
            max-width: 510px;
            width: 100%;


            label[for="email"] {
                @include visually-hidden;
            }


            input[type="checkbox"] {
                margin: $spacing-xs 12px 0 0;
                align-self: flex-start;
                // Fix for issue with webkit that checkboxes will shrink in a flex container
                min-width: 14px;
            }

            label[for="newsletter"] {
                display: flex;
            }
        }

        .mzp-c-newsletter-thanks {
            grid-column: 1;
            padding-top: 0;
            text-align: center;
        }
    }
}

.c-builders-copy {
    > div {
        text-align: center;

        h3 {
            @include font-size(38px);
        }

        p {
            @include font-size(24px);
        }

        span {
            font-weight: bold;
        }
    }

    div:last-child {
        margin-top: $layout-lg;
    }

    margin-bottom: $layout-lg;
}