// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '../../img';
$font-path: '../../fonts';

@import 'ticker';


.c-challenge-hero {
    text-align: center;
    background-image: url("/img/builders-challenge/hero-sm.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        @include font-size(56px);
    }

    h2 {
        @include font-size(28px);
    }

    .mzp-l-content {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    @media #{$mq-sm} {
        background-image: url("/img/builders-challenge/hero-md.png");
    }

    @media #{$mq-lg} {
        background-image: url("/img/builders-challenge/hero-lg.png")
    }

    @media #{$mq-xl} {
        background-image: url("/img/builders-challenge/hero-xl.png")
    }

    @media (min-width: 1440px) {
        background-image: url("/img/builders-challenge/hero-2x.png")
    }
}

.c-challenge-event {
    text-align: center;

    .c-event-tagline {
        @include font-size(22px);
        @include font-base;
        line-height: 1.5;
        font-weight: 400;

        @media #{$mq-lg} {
            @include font-size(28px);
        }
    }

    .c-event-date {
        @include font-mozilla;
        @include font-size(28px);
        font-weight: bold;
    }

    .mzp-c-button {
        margin-top: $spacing-xl;
    }

}

.c-winner-section {
    background-color: #F5F5F5;

    h3 {
        text-align: center;

        @media #{$mq-lg} {
            text-align: left;
        }
    }

    .mzp-l-columns {
        display: grid;
        justify-items: center;
    }

    .c-winner-card {
        @include font-mozilla;
        margin-left: 0;
        margin-right: 0;

        .c-winner-card-place {
            @include font-size(32px);
            margin-bottom: $spacing-lg;
            font-weight: 500;
        }

        .c-winner-card-name {
            margin-bottom: $spacing-sm;
        }

        &:first-child .c-winner-card-place {
            color: #F55953;
        }

        &:nth-child(2) .c-winner-card-place {
            color: #6464C9;
        }

        &:nth-child(3) .c-winner-card-place {
            color: #CA61D4;
        }
    }

    .half-circle-left {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-25%);
        width: 45px;

        @media #{$mq-md} {
            width: 60px;
            transform: translateY(-40%);
        }

        @media #{$mq-lg} {
            width: 70px;
        }

        @media #{$mq-xl} {
            // full image width
            width: 97px;
        }
    }

    .half-circle-right {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(45%);
        width: 60px;

        @media #{$mq-lg} {
            transform: translateY(55%);
            width: 90px;
        }

        @media #{$mq-xl} {
            width: 100px;
        }
    }
}

.c-challenge-about h3 {
    text-align: center;
}

.c-challenge-opportunity {
    background-color: $color-light-gray-20;
    position: relative;

    h3 {
        text-align: center;
    }

    .mzp-l-columns {
        margin-top: $layout-md;
    }

    .c-opportunity-card {
        margin-bottom: $spacing-2xl;
        display: block;

        h4 {
            font-weight: 500;
        }

        @media #{$mq-md} {
            margin-bottom: 0;
        }
    }


}

.c-info-section {
    margin: -$layout-md auto -#{$layout-xs};

    @media #{$mq-xl} {
        margin-top: -$layout-xl;
        margin-bottom: -$layout-xl;
    }
}

.c-info-block {
    padding: $layout-sm $layout-xs;
    margin: 0 -#{$layout-xs};

    &.t-types {
        background: $color-green-20;
    }

    &.t-explanation {
        background: $color-purple-10;
    }

    .c-info-block-title {
        margin-bottom: $spacing-xl;
    }

    .c-info-block-intro {
        @include text-body-lg;
        max-width: $content-md;

        h4 {
            margin-top: $layout-sm;
        }
    }

    h4 {
        font-weight: 500;
    }

    h5 {
        @include font-base;
        @include text-body-lg;
    }

    @media #{$mq-md} {
        padding: $layout-sm;
        margin: 0 -#{$layout-sm} $layout-sm;
        margin-bottom: $layout-md;
    }
}

.c-evaluation-section .mzp-l-columns {
    margin-top: $layout-lg;

    .c-evaluation-card {
        h4 {
            font-weight: 500;
            min-height: max-content;
            margin-bottom: $spacing-xl;

            @media #{$mq-lg} {
                min-height: 60px;
                margin-bottom: 0.5em;
            }

            @media #{$mq-xl} {
                min-height: inherit;
            }
        }

        a {
            color: $color-black;
        }
    }
}

.c-partner-section {
    margin-top: $layout-md;
    background-color: #f5f5f5;

    h3 {
        text-align: center;
    }

    .c-partner-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: $layout-lg;

        img {
            max-width: 200px;
        }

        @media #{$mq-lg} {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.c-builders-judges {
    h3 {
        text-align: center;
    }

    .judges-section {
        margin-top: $layout-lg;

        h4 {
            text-align: center;
            font-weight: 500;
            margin-bottom: $layout-md;
        }

        .c-judges-card-name {
            @include font-mozilla;
            @include font-size(28px);
            margin-bottom: 0;
        }
    }

    @media #{$mq-md} {
        .c-judge-card {
            &:last-child {
                grid-column: 2/3;
            }
        }
    }
}

.c-judges-grid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    column-gap: $layout-lg;
    row-gap: $layout-sm;

    @media #{$mq-md} {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    @media #{$mq-lg} {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

.c-speakers-grid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    justify-items: flex-end;
    column-gap: $layout-lg;

    @media #{$mq-md} {
        grid-template-columns: repeat(2, minmax(200px, 1fr));

        .c-judge-card {
            margin: 0;

            &:first-child {
                justify-self: flex-end;
            }

            &:nth-child(2) {
                justify-self: flex-start;
            }
        }


    }
}

.c-judge-card {
    max-width: 300px;
    margin: 0 auto;

    img {
        margin: 0 auto;
        width: 100%;
    }
}

.c-discord-banner {
    background: #5865f2;
    text-align: center;
    padding: $spacing-md;
    flex-direction: column;

    p {
        @include font-size(18px);
        margin: 0 0 $spacing-lg 0;
    }

   @media #{$mq-md} {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        p {
            margin: 0 $spacing-lg 0 0;
        }
   }
}

// overrides from protocol newsletter to have single column layout
.c-builders-newsletter {
    padding-bottom: $spacing-xl;

    .newsletter-header {
        text-align: center;
    }

    .mzp-c-newsletter {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;

        .builders-form {
            grid-column: 1;
            margin: 0 auto;
            max-width: 510px;
            width: 100%;


            label[for="email"] {
                @include visually-hidden;
            }


            input[type="checkbox"] {
                margin: $spacing-xs 12px 0 0;
                align-self: flex-start;
                // Fix for issue with webkit that checkboxes will shrink in a flex container
                min-width: 14px;
            }

            label[for="newsletter"] {
                display: flex;
            }
        }

        .mzp-c-newsletter-thanks {
            grid-column: 1;
            padding-top: 0;
            text-align: center;
        }
    }
}
