// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '../../img';
$font-path: '../../fonts';

.c-builders-hero {
    text-align: center;

    .mzp-l-content {
        background-image: url("/img/builders-challenge/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    h1 {
        @include font-size(56px);
    }

    h2 {
        @include font-size(28px);
    }
}

// overrides from protocol newsletter to have single column layout
.c-builders-newsletter {
    padding-bottom: $spacing-xl;

    h3 {
        text-align: center;
    }

    .mzp-c-newsletter {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;

        .builders-form {
            grid-column: 1;

            .interests {
                max-width: 100%;
            }

            label[for="email"] {
                @include visually-hidden;
            }

            input[type="checkbox"] {
                margin: $spacing-xs 12px 0 0;
                align-self: flex-start;
            }

            label[for="newsletter"] {
                display: flex;
                font-weight: 500;

                .bold {
                    font-weight: bold;
                }
            }

            @media #{$mq-lg} {
                .interests {
                    max-width: 75%;
                }
            }
        }

        .mzp-c-newsletter-thanks {
            grid-column: 1;
            padding-top: 0;
            text-align: center;
        }
    }
}

.c-builders-copy {
    > div {
        text-align: center;

        h3 {
            @include font-size(38px);
        }
    }
    margin-bottom: $layout-lg;
}