// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '../../img';
$font-path: '../../fonts';

@import '/node_modules/@mozilla-protocol/core/protocol/css/components/split';



.c-innovation-hero {
    background-image: url("/img/landing/innovations-hero.svg");
    background-position: right;
    background-repeat: no-repeat;

    .hero-text-wrapper {
        h1 {
            @include font-size(28px);
            font-weight: 500;
            text-transform: uppercase;
        }

        h2 {
            @include font-size(56px);
        }
    }
    @media #{$mq-md} {
        background-size: 50%;

        .hero-text-wrapper {
            max-width: 50%;
        }
    }
}

.c-innovation-split {
    h2 {
        @include font-base;
        @include font-size(18px);
        font-weight: 500;;
        text-transform: uppercase;
    }

    h3 {
        @include font-mozilla;
        @include font-size(42px)
    }
}

.c-innovation-initiatives {
    h2 {
        @include font-base;
        @include font-size(20px);
        font-weight: 500;
        text-transform: uppercase;
    }

    h3 {
        @include font-mozilla;
        @include font-size(48px);
    }

    .c-innovation-picto-grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 48px;
        row-gap: 32px;
        margin-top: $layout-lg;

        .mzp-c-picto-image {
            // this will keep the image container the same size for all items in the grid - and won't resize any of the images
            height: 84px;
        }

        .c-picto-cta {
            color: $color-white;
            position: relative;

            &:before {
                content: "\002b  ";
            }
        }

        @media #{$mq-md} {
             grid-template-columns: 1fr 1fr;
        }

        @media #{$mq-lg} {
             grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.c-innovation-newsletter {

    h3 {
        @include font-size(48px);
    }



    // default state - (will only show if user selects "collaborate" radio btn
    .description {
        display: none;
    }

}

