@tailwind base;
@tailwind components;

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf")
}

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: "Space Grotesk", system-ui, sans-serif;
    }

    body {
        @apply dark:bg-base-100 my-0 top-0
    }

    div#mobile_banner {
        @apply relative sm:static 
    }

    #hamburger-btn {
        @apply absolute drawer-button lg:hidden z-0 text-accent bg-transparent top-2 left-2 !important
    }

    #header_img {
        @apply max-h-full max-w-full sm:max-h-80 sm:mx-auto
    }

    main {
        @apply sm:min-h-screen
    }

    /* Sidebar */
    #sidebar-close-btn {
        @apply btn-square drawer-button z-20 bg-accent text-accent-content !important
    }

    .drawer-open .drawer-side {
        @apply bg-white dark:bg-black
    }

    .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
        @apply bg-white bg-opacity-100 dark:bg-black dark:text-white text-black relative !important
    }

    .drawer-toggle:checked ~  #sidebar-close-btn {
        @apply z-50 mr-10 mt-10 !important 
    }

    img#sidebar-logo {
        @apply w-32 mt-5 sm:mt-14 pl-5 sm:pl-6 !important
    }

    ul.menu {
        @apply w-72 mt-12 sm:mt-0
    }

    ul.menu > li {
        @apply leading-6
    }

    ul.menu > li.upcoming {
        @apply opacity-50
    }

    ul.menu > li.upcoming:hover,
    ul.menu > li.upcoming:hover a {
        @apply opacity-50 text-gray-400 bg-transparent
    }

    ul.menu > li.upcoming .badge {
        @apply badge-secondary text-secondary-content
    }

    ul.sub_menu > li {
        @apply leading-3
    }

    ul.menu > li:hover {
        @apply bg-primary dark:bg-secondary rounded-md
    }

    ul.sub_menu > li:hover {
        @apply bg-secondary dark:bg-primary rounded-md
    }

    ul.menu > li a {
        @apply text-black dark:text-white
    }

    ul.menu > li:hover a {
        @apply text-white dark:text-black
    }

    ul.sub_menu > li:hover a {
        @apply text-black dark:text-white
    }

    /* Articles */
    div.prose {
        @apply dark:text-white
    }

    .page-header {
        @apply text-3xl font-medium mt-9 mb-0 
    }

    #content a.button-next-page {
        @apply btn btn-primary text-primary-content font-medium shadow-md shadow-accent pt-0 pb-0 pr-8 pl-8 no-underline 
    }

    #content h4 {
        @apply text-xl font-medium mt-3 mb-3 text-inherit
    }

    #content p {
        @apply leading-6 font-normal text-inherit
    }

    #content {
        @apply prose pl-5 pr-5 sm:pl-0 sm:pr-0 sm:max-w-3xl text-black dark:text-white bg-base-100 mx-auto my-auto dark:bg-base-100 }

    #content h2 {
        @apply text-3xl font-medium mt-9 mb-5 text-inherit 
    }

    /* blue bar above the page headers*/
    #content h2::before {
        content: '';
        display: block;
        height: 0.3125rem;
        @apply border-t-2 border-primary my-auto w-12 m-0
    }

    footer {
        @apply mt-10 p-4 pt-2 sm:pt-10 sm:pb-10 mx-auto my-auto bg-neutral text-neutral-content text-xs
    }

    footer nav {
        @apply leading-6 columns-1 sm:columns-2 items-center sm:max-w-3xl sm:mx-auto sm:my-auto
    }

    footer nav div.container {
        @apply mt-3 sm:h-36
    }

    footer ul {
        @apply underline sm:max-w-3xl mx-auto my-auto
    }
}

@tailwind utilities;