@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: "Space Grotesk", system-ui, sans-serif;
    }

    ul.menu a {
        font-family: "Inter", system-ui, sans-serif;
        font-weight: 400
    }

}