@tailwind base;
@tailwind components;

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf")
}

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: "Space Grotesk", system-ui, sans-serif;
    }

    ul.menu a {
        font-family: "Inter", system-ui, sans-serif;
        @apply group-hover:text-primary-content group-hover:bg-primary-focus
    }

    div.prose {
        color: #000
    }
}

@tailwind utilities;