{% extends "cohort-base.html" %}

{% block member_photo %}<img src="/img/profiles/rosanne_liu-200.jpg" width="400" height="400"
    srcset="/img/profiles/rosanne_liu-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Rosanne Liu{% endblock %}
{% block member_company %}ML Collective{% endblock %}
{% block member_bio %}Rosanne is one of the 15 founding members of Uber AI Labs and has been
building communities for underrepresented and underprivileged researchers since 2018. She
obtained her PhD in Computer Science at Northwestern University and serves as the Diversity,
Equity & Inclusion chair of ICLR 2022 and 2023.{% endblock %}
{% block member_mission %}Create and nurture a diverse and inclusive
scientific community, by empowering non-standard and non-traditional scientists to grow on their
own timelines and thrive in their self-defined career paths.{% endblock %}