<div class="carousel carousel-center max-w-3xl p-4 space-x-4 rounded-box border-2 border-gray-900 shadow-md shadow-primary">
    <div class="carousel-item card bg-neutral w-72">
      <figure><img src="/img/profiles/adam_bouhenguel-200.jpg" class="rounded-box" /></figure>
      <div class='card-body'>
        <div class="font-semibold mb-0">1.</div>
        <div class="font-semibold mt-0">Tokenization</div>
        The LLM starts by breaking down the input text, or "prompt," into smaller pieces known as tokens.
      </div>
    </div> 
    <div class="carousel-item card bg-neutral  w-72">
      <figure><img src="/img/profiles/francisco_tolmasky-200.jpg" class="rounded-box" /></figure>
      <div class='card-body'>
        This is the second card.
      </div>
    </div> 
    <div class="carousel-item card bg-neutral  w-72">
      <figure><img src="/img/profiles/justine_tunney-200.jpg" class="rounded-box" /></figure>
      <div class='card-body'>
        This is the third card.
      </div>
    </div> 
    <div class="carousel-item card bg-neutral  w-72">
      <figure><img src="/img/profiles/jeff_lindsay-200.jpg" class="rounded-box" /></figure>
      <div class='card-body'>
        This is the last card.
      </div>
    </div> 
  </div>