{% extends "cohort-base.html" %}

{% block member_name %}Andy Matuschak{% endblock %}
{% block member_company %}Mnemonic medium{% endblock %}
{% block member_bio %}Andy invents tools that expand what people can think and do. Previously, he
helped design and build iOS at Apple, led R&D at Khan Academy, and created popular open source
projects Sparkle and Pixen.{% endblock %}
{% block member_mission %}Help people internalize what they read through
an open source platform which augments books and articles with memory and learning support
tools.{% endblock %}
{% block member_photo %}<img src="/img/profiles/andy_matuschak-200.jpg" width="400" height="400"
    srcset="/img/profiles/andy_matuschak-400.jpg 2x" alt="">{% endblock %}

{% block project_desc %}
<p>I’m trying to help people learn difficult conceptual material by making it much easier for them to remember and
internalize what they read — rather than quickly forgetting all but the gist. The basic idea is that as you read and
learn, you automatically collect quick practice questions about that material.</p>
<p>The system resurfaces those questions over time to reinforce the material durably and reliably. It’s an old, well - understood mechanism from cognitive
psychology, but it’s not something most people can use well in practice now.</p>
{% endblock %}
{% block collaborator_text %}
<p>The most interesting collaborations are often the most unexpected. I’m always excited to hear from anyone who finds
themselves thinking at length about the ideas I write about.</p>
{% endblock %}

{% block accomplishments %}
<ul>
    <li>Led R&D at Khan Academy, where my team developed and tested a series of experimental learning environments.</li>
    <li>Helped make iOS at Apple in the early years of the iPhone and the iPad.</li>
</ul>
{% endblock %}
{% block interests %}Expanding human capacity — for joy, for creativity, for insight, for curiosity, for compassion.{% endblock %}