{% extends "cohort-base.html" %}

{% block member_name %}Andy Matuschak{% endblock %}
{% block member_company %}Mnemonic medium{% endblock %}
{% block member_bio %}Andy invents tools that expand what people can think and do. Previously, he
helped design and build iOS at Apple, led R&D at Khan Academy, and created popular open source
projects Sparkle and Pixen.{% endblock %}
{% block member_mission %}Help people internalize what they read through
an open source platform which augments books and articles with memory and learning support
tools.{% endblock %}
{% block member_photo %}<img src="/img/profiles/andy_matuschak-200.jpg" width="400" height="400"
    srcset="/img/profiles/andy_matuschak-400.jpg 2x" alt="">{% endblock %}

{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}