<aside class="c-news-ticker">
    <div class="c-news-ticker-content">
        <div class="set-one">
            <p class="c-news-ticker-item">Breaking news: Prize amounts now <span>doubled</span></p>
            <p class="c-news-ticker-item">Join the Responsible AI Challenge</p>
            <p class="c-news-ticker-item">Apply by April 20th</p>
            <p class="c-news-ticker-item">Shape the future of AI</p>
            <p class="c-news-ticker-item">Breaking news: Prize amounts now <span>doubled</span></p>
            <p class="c-news-ticker-item">Join the Responsible AI Challenge</p>
            <p class="c-news-ticker-item">Apply by April 20th</p>
            <p class="c-news-ticker-item">Shape the future of AI</p>
        </div>
        <div class="set-two">
            <p class="c-news-ticker-item">Breaking news: Prize amounts now <span>doubled</span></p>
            <p class="c-news-ticker-item">Join the Responsible AI Challenge</p>
            <p class="c-news-ticker-item">Apply by April 20th</p>
            <p class="c-news-ticker-item">Shape the future of AI</p>
            <p class="c-news-ticker-item">Breaking news: Prize amounts now <span>doubled</span></p>
            <p class="c-news-ticker-item">Join the Responsible AI Challenge</p>
            <p class="c-news-ticker-item">Apply by April 20th</p>
            <p class="c-news-ticker-item">Shape the future of AI</p>
        </div>
    </div>
</aside>
