<aside class="c-news-ticker">
    <div class="c-news-ticker-content">
        <div class="set-one">
            <p class="c-news-ticker-item">Applications closed</p>
            <p class="c-news-ticker-item">Coming soon: Top 10 finalists announced May 8th</p>
            <p class="c-news-ticker-item">Applications closed</p>
            <p class="c-news-ticker-item">Coming soon: Top 10 finalists announced May 8th</p>
        </div>
        <div class="set-two">
            <p class="c-news-ticker-item">Applications closed</p>
            <p class="c-news-ticker-item">Coming soon: Top 10 finalists announced May 8th</p>
            <p class="c-news-ticker-item">Applications closed</p>
            <p class="c-news-ticker-item">Coming soon: Top 10 finalists announced May 8th</p>
        </div>
    </div>
</aside>