{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/brendan_fong-200.jpg" width="400" height="400"
    srcset="/img/profiles/brendan_fong-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Brendan Fong{% endblock %}
{% block member_company %}Democratizing AlgebraicJulia{% endblock %}
{% block member_bio %}Brendan is the CEO of Topos Institute, an independent research non-profit. He
holds a PhD in computer science from Oxford, and undertook postdoctoral studies in systems
engineering and mathematics at UPenn and MIT. He’s also the founder of the open-access journal
Compositionality and co-author of the textbook An Invitation to Applied Category Theory.{% endblock %}
{% block member_mission %}Open the use and future development of
AlgebraicJulia to a wider and more diverse community.{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}