{% extends "base.html" %}

{% block page_title %}Responsible AI Challenge{% endblock %}
{% block page_desc %}AI is changing everything. Now is the time to develop it responsibly. Join us in the Responsible AI Challenge and help us shape the future of AI.{% endblock %}
{% block page_image %}/img/builders-challenge/ai-socialshare.png{% endblock %}
{% block twitter_card %}summary_large_image{% endblock %}

{% block page_css %}<link rel="stylesheet" href="/css/style.scss">{% endblock %}

{% block nav_cta_text %}Learn More{% endblock%}

{% block main_class %}builders-container{% endblock %}

{% set judges = [
        { "name": "Raffi Krikorian", "desc": "Raffi is an Armenian-American technology executive and the CTO of the Emerson Collective.", "img": "/img/builders-challenge/judges/Raffi_Krikorian.jpg" },
        { "name": "Lauren Wagner", "desc": "Lauren is an early-stage investor and Fellow at the Berggruen Institute.", "img": "/img/builders-challenge/judges/Lauren_Wagner.jpg" },
        { "name": "Ramak Molavi", "desc": "Ramak is a digital rights lawyer and has led the 'Meaningful AI Transparency' research project at Mozilla since 2021.", "img": "/img/builders-challenge/judges/Ramak_Molavi.jpg" },
        { "name": "Raesetje Sefala", "desc": "Raesetje is an AI Research Fellow at the Distributed AI Research Institute (DAIR).", "img": "/img/builders-challenge/judges/Raesetje_Sefala.jpg" },
        { "name": "Damon Horowitz", "desc": "Damon is a technologist, philosophy professor and serial entrepreneur.", "img": "/img/builders-challenge/judges/Damon_Horowitz.jpg" },
        { "name": "James Hodsen", "desc": "James is the CEO of the AI for Good Foundation, which is building economic and community resilience through technology.", "img": "/img/builders-challenge/judges/James_Hodsen.jpg" }
    ]
%}

{% set speakers = [
        { "name": "Margaret Mitchell", "desc": "Margaret is the Chief Ethics Scientist at Hugging Face, with deep experience in ML development, ML data governance, and AI evaluation.", "img": "/img/builders-challenge/judges/Margaret_Mitchell.jpg" },
        { "name": "Gary Marcus", "desc": "Gary is the Emeritus Professor of Psychology and Neural Science at NYU and the author of five books, including New York Times Bestseller Guitar Zero.", "img": "/img/builders-challenge/judges/Gary_Marcus.jpg" }
    ]
%}

{% set projects = [
        { "name": "AI Cockpit", "desc": "creates open-source software for human supervisors to oversee and control automated decisions at various levels of AI autonomy." },
        { "name": "AI Vulnerability Database (AVID)", "desc": "is an open-source knowledge base of failure modes for AI models, datasets, and systems."},
        { "name": "Blind AI", "desc": "provides a confidential deployment solution for LLMs, enabling the protection of sensitive data when leveraging AI SaaS solutions." },
        { "name": "Droomverhalen", "desc": "(Dutch for ‘dream stories’) is an AI-based story generator that enables parents to craft unique and personalized stories for their little ones." },
        { "name": "Emakia", "desc": "is a research and development project looking to filter out social media harassment to provide a safer social media environment." },
        { "name": "Kwanele Chat Bot", "desc": "aims to empower women in communities plagued by violence by enabling them to access help fast and ensure the collection of admissible evidence." },
        { "name": "LivePose Portal", "desc": "trains participants and deep-learning models for camera-based group interactivity in the immersive arts." },
        { "name": "Micro Adventures", "desc": "is an AI-powered app that combines gamified local learning adventures for parents and kids." },
        { "name": "Nolano", "desc": "is a trained language model that uses natural language processing to run on laptops and smartphones." },
        { "name": "Quirk", "desc": "is building game-based virtual worlds where children learn character building skills with the help of AI guidance and through play." },
        { "name": "Rule-Based Fairness", "desc": "seeks to leverage rule-based learning and causality to mitigate biases and promote fairness." },
        { "name": "Sanative AI", "desc": "provides anti-AI watermarks to protect images and artwork from being used as training data for diffusion models." },
        { "name": "Simprints", "desc": "is developing unbiased face biometrics with AI for NGOs and governments in global health and humanitarian programs." },
        { "name": "Visually Impaired Assistant System", "desc": "is a multi-disciplinary AI project that aims to improve accessibility for the visually impaired community." }
    ]
%}

{% block content %}
<!-- Hero -->
<section class="c-challenge-hero mzp-t-dark">
    <div class="mzp-l-content">
        <h1>Join the Responsible AI Challenge</h1>
        <h2>by Mozilla Builders</h2>
    </div>
</section>

{% include 'partials/ticker.html' %}

<section class="mzp-l-content mzp-t-content-xl c-challenge-event">
    <p class="c-event-tagline">AI is changing everything. Now is the time to develop it responsibly. <br> Join us in the Responsible AI Challenge and help us shape the future of AI.</p>
    <p class="c-event-date">In-person event: May 31, 2023 in San Francisco, CA</p>
    <p>Applications have closed. Thank you for your interest and participation</p>
</section>

<section class="c-finalists-section">
    <div class="mzp-l-content">
        <h3>Our Top 10 Finalists</h3>
        <table class="mzp-u-data-table">
            <thead>
                <tr>
                    <th scope="column">Project Name</th>
                    <th scope="column">Project Description</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.desc }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<section class="c-challenge-about mzp-t-dark">
    <div class="mzp-l-content mzp-t-content-md">
        <h3>About the challenge</h3>
        <p>We at Mozilla believe in AI: in its power, its commercial opportunity,
        and its potential to solve the world’s most challenging problems. But we
        also recognize its risks and want to help develop it responsibly to serve
        society. That’s why we’ve created the Responsible AI Challenge, a 1-day
        in-person event to inspire and support a community of Builders working on
        Trustworthy AI products and solutions.</p>

        <p>The event will convene some of the brightest thinkers, technologists,
        ethicists and business leaders for talks, workshops and working sessions
        to help technologists, entrepreneurs and creators get their ideas off the
        ground. Our goal is to identify and bring together entrepreneurs and builders
        who believe in our mission of trustworthy AI and give them resources,
        funding, support and cross-pollination, so they can make better products
        and build more responsible companies.</p>
    </div>
</section>

<section class="c-challenge-opportunity">
    <div class="mzp-l-content">
        <h3>Your opportunity</h3>
        <div class="mzp-l-columns mzp-t-columns-three">
            <div class="c-opportunity-card">
                <h4>Apply</h4>
                <p>Tell us about the AI project you want to develop and how you’ll develop it responsibly. You don’t have to
                have it all figured out (that’s why the application is short!) — we want to see how you think.</p>
            </div>
            <div class="c-opportunity-card">
                <h4>Become a finalist</h4>
                <p>10 teams will become finalists and be invited to an in-person event in San Francisco with some of the brightest
                thinkers, technologists, ethicists and business leaders to help you get your idea off the ground and unlock a variety of
                technology resources.</p>
            </div>
            <div class="c-opportunity-card">
                <h4>Win big</h4>
                <p>Attend workshops and talks about algorithmic bias, evaluation and transparency. Refine your pitch and get an opportunity
                to win a cash prize. Plus, get access to mentorship from leaders in the industry and meet like-minded innovators.</p>
            </div>
        </div>
    </div>
    <img class="half-circle-left" src="/img/builders-challenge/half-circle-left.png" role="presentation" alt="">
    <img class="half-circle-right" src="/img/builders-challenge/half-circle-right.png" role="presentation" alt="">
</section>

<section class="mzp-t-dark c-details-section">
    <div class="mzp-l-content c-details-grid">
        <div>
            <h3>Things you should know</h3>
            <p>The challenge is open to everyone regardless of geographical location* but you must be present for the in-person event.</p>
            <div class="prize-doubled-section">
                <p>Update: Craig Newmark Philanthropies makes a generous donation to the Responsible AI Challenge – prize amounts now <span>doubled</span><p>
            </div>
            <div class="grid-card-container">
                <div class="c-details-card">
                    <h4>The key dates</h4>
                    <ul>
                        <li><span class="strong">March 30th: </span>Applications open</li>
                        <li><span class="strong">April 20th: </span>Applications close</li>
                        <li><span class="strong">May 8th: </span>Top 10 finalists announced</li>
                        <li><span class="strong">May 31st: </span>In-person event for top 10 finalists</li>
                    </ul>
                </div>
                <div class="c-details-card">
                    <h4>The prizes</h4>
                    <ul>
                        <li class="strong">1st prize: <s class="cross-out">$25,000</s> <span class="new-amount">$50,000</span></li>
                        <li class="strong">2nd prize: <s class="cross-out">$15,000</s> <span class="new-amount">$30,000</span></li>
                        <li class="strong">3rd prize: <s class="cross-out">$10,000</s> <span class="new-amount">$20,000</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="c-details-card requirements">
            <h4 class="requirements-title">The requirements</h4>
            <ul>
                <li>Early-stage projects only</li>
                <li>Make sure you have the rights to any IP, code or data in use</li>
                <li>Individuals and teams can apply</li>
                <li>No cap on number of teammates</li>
                <li>Modest travel and accommodation reimbursements will be provided for finalists</li>
                <li>One winner for each prize</li>
            </ul>
            <p class="card-subtext">*<a href="https://www.mozilla.org/about/legal/terms/builders-challenge">Terms and Conditions</a></p>
        </div>
    </div>
</section>

<section class="mzp-l-content c-evaluation-section">
    <h3>How applications will be evaluated</h3>
    <div class="mzp-l-columns mzp-t-columns-three">
        <div class="c-evaluation-card">
            <h4>Concept innovation</h4>
            <p>How is your project unique in its approach and how does it solve a specific problem or need in society?</p>
        </div>
        <div class="c-evaluation-card">
            <h4>Technical implementation</h4>
            <p>What technology stack and datasets will you leverage to make your AI solution work?</p>
        </div>
        <div class="c-evaluation-card">
            <h4>Responsible AI</h4>
            <p>Does your project consider things like agency, accountability, privacy, fairness, and safety? How does it address our
            <a href="#guidelines">Responsible AI Guidelines</a>?</p>
        </div>
    </div>
</section>

<div class="mzp-l-content c-info-section">
    <section id="types" class="c-info-block t-types">
        <h3 class="c-info-block-title">What types of projects are we looking for?</h3>
        <div class="c-info-block-intro">
            <p>Projects could be interactive websites, games, apps or other tools that
            use AI for functional or creative purposes via the lens of responsible, ethical
            or trustworthy design. We encourage projects that have a strong mission and
            contribute to the well-being of individuals, society or the planet.</p>
        </div>

        <h4>Preference will be given to:</h4>
        <ul class="mzp-l-columns mzp-t-columns-two">
            <li>
                <h5>Consumer technology projects</h5>
                <p>Think general purpose internet products and services aimed at a wide
                audience. This includes products and services spanning from social
                media platforms, search engines, and ride-sharing apps, to smart home
                devices and wearables, to e-commerce and algorithmic lending, as well
                as artistic expressions or media creation.</p>
            </li>
            <li>
                <h5>Generative AI projects</h5>
                <p>Generative AI projects and those using transformer models more broadly.
                We are eager for entries that explore and address the interplay between
                these recent trends and the timeless need for trustworthy AI.</p>
            </li>
        </ul>
    </section>

    <section id="guidelines" class="c-info-block t-explanation">
        <h3 class="c-info-block-title">What do we mean by Responsible AI?</h3>
        <div class="mzp-l-columns mzp-t-columns-three">
            <div>
                <p><strong>We believe that Responsible AI is demonstrably worthy of trust. It’s
                technology that considers accountability, user agency, and individual
                and collective well-being.</strong></p>
                <p>These are the Responsible AI guidelines we will use to evaluate entries to this Challenge:</p>
            </div>
            <div>
                <h4>Agency</h4>
                <p>Is your AI designed with personal agency in mind? Do people have
                control over how they use the AI, over how their data is used, and
                over the algorithm’s output?</p>

                <h4>Accountability</h4>
                <p>Are you providing transparency into how your AI systems work, are
                you set up to support accountability when things go wrong?</p>

                <h4>Privacy</h4>
                <p>How are you collecting, storing and sharing people’s data?</p>
            </div>
            <div>
                <h4>Fairness</h4>
                <ul class="mzp-u-list-styled">
                    <li>Are your computational models, data, and frameworks reflecting
                    or amplifying existing bias, or assumptions resulting in biased or
                    discriminatory outcomes, or have outsized impact on marginalized
                    communities?</li>
                    <li>Are computing and human labor used to build your AI system
                    vulnerable to exploitation and overwork?</li>
                    <li>Is the climate crisis being accelerated by your AI through
                    energy consumption or speeding up the extraction of natural
                    resources?</li>
                </ul>

                <h4>Safety</h4>
                <p>Are bad actors able to carry out sophisticated attacks by exploiting
                your AI systems?</p>
            </div>
        </div>
    </section>
</div>

<section class="c-builders-judges mzp-l-content">
    <h3>Meet our judges and speakers</h3>
    <div class="judges-section">
        <h4>Judges</h4>
        <div class="c-judges-grid">
            {% for judge in judges %}
            <div class="c-judge-card">
                <img width="300" src="{{ judge.img }}">
                <p class="c-judges-card-name">{{ judge.name }}</p>
                <p class="c-judges-card-desc">{{ judge.desc }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="judges-section">
        <h4>Speakers</h4>
        <div class="c-speakers-grid">
            {% for speaker in speakers %}
                <div class="c-judge-card">
                    <img src="{{ speaker.img }}">
                    <p class="c-judges-card-name">{{ speaker.name }}</p>
                    <p class="c-judges-card-desc">{{ speaker.desc }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="c-partner-section">
    <div class="mzp-l-content">
        <h3>Our Partners</h3>
        <div class="c-partner-grid">
            <img src="/img/builders-challenge/cohere.png " alt="Cohere">
            <img src="/img/builders-challenge/fiddler.png " alt="Fiddler">
            <img src="/img/builders-challenge/hugging-face.svg " alt="Hugging Face">
            <img src="/img/builders-challenge/Center-for-Humane-Technology.png" alt="Center for Humane Technology">
            <img src="/img/builders-challenge/Credo-AI.png" alt="Credo AI">
            <img src="/img/builders-challenge/EleutherAI.png" alt="EleutherAI">
        </div>
    </div>
</section>

<!-- email capture form -->
<section class="mzp-l-content mzp-t-content-md c-builders-newsletter" id="newsletter-section">
    <div class="mzp-c-newsletter">
        <div class="newsletter-header">
            <h3>Get notified about challenge details</h3>
        </div>
        <form id="newsletter-form" class="mzp-c-newsletter-form builders-form" name="newsletter-form">
            <fieldset class="mzp-c-newsletter-content">
                <div class="mzp-c-form-errors hidden" id="newsletter-errors">
                    <ul class="mzp-u-list-styled">
                        <li class="error-email-invalid hidden">Please enter a valid email address with less than 120
                            characters</li>
                        <li class="error-privacy-policy hidden">You must agree to the privacy notice</li>
                        <li class="error-try-again-later hidden">We are sorry, but there was a problem with our system.
                            Please try again later!</li>
                    </ul>
                </div>
                <div>
                    <label for="email">Your email address</label>
                    <input type="email" class="mzp-js-email-field" id="email" name="email"
                        placeholder="Enter your email here" required aria-required="true">
                </div>
                <div id="newsletter-details" class="mzp-c-newsletter-details">
                    <fieldset class="interests">
                        <label for="newsletter">
                            <input class="newsletter" type="checkbox" name="interests" id="newsletter" value="mozilla-technology">
                            I’m also interested in hearing about topics like AI and machine learning, the metaverse, extended reality (XR) and the future of the web.
                        </label>
                    </fieldset>
                    <p>
                        <label for="privacy" class="mzp-u-inline">
                            <input type="checkbox" id="privacy" name="privacy" required aria-required="true">
                            I’m okay with Mozilla handling my info as explained in <a
                                href="https://www.mozilla.org/privacy/websites/" >this Privacy Notice</a>
                        </label>
                    </p>
                </div>
                <p class="mzp-c-form-submit">
                    <button type="submit" class="mzp-c-button" id="newsletter-submit">Submit</button>
                    <span class="mzp-c-fieldnote">We will only send you Mozilla-related information.</span>
                </p>
            </fieldset>
        </form>
        <div id="newsletter-thanks" class="mzp-c-newsletter-thanks">
            <h3>Thanks!</h3>
            <p>If you haven’t previously confirmed a subscription to a Mozilla-related newsletter, you may have to do
                so. Please check
                your inbox or your spam filter for an email from us.</p>
        </div>
    </div>
</section>

<section class="c-discord-banner mzp-t-dark">
    <p>Got questions? Get more info and support on Discord.</p>
    <a class="mzp-c-button mzp-t-dark mzp-t-lg" href="https://discord.gg/JeBN7Ws8Vk" target="_blank" rel="noopener noreferrer">Go now</a>
</section>
{% endblock %}

{% block js %}
<script type="module" src="/scripts/email.js"></script>
{% endblock %}
