{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/charles_forman-200.jpg" width="400" height="400"
    srcset="/img/profiles/charles_forman-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Charles Forman{% endblock %}
{% block member_company %}Storyboarder{% endblock %}
{% block member_bio %}Charles is a movie maker, dreamer, product designer, and entrepreneur. He
founded OMGPOP, the video game company behind Draw Something, which sold to Zynga. He also
developed Picturelife, a smart photo storage and management company, which sold to SmugMug.{% endblock %}
{% block member_mission %}Build a community for visual storytellers to
create, iterate, and experience other’s stories, starting with an easy-to-use storyboarding tool
built for people who don’t draw.{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}