{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/justine_tunney-200.jpg" width="400" height="400"
    srcset="/img/profiles/justine_tunney-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Justine Tunney{% endblock %}
{% block member_company %}Actually Portable Executable{% endblock %}
{% block member_bio %}Justine is an activist who started as a cyber security hacker and used that
experience to improve the security of open source software. She is the creator of Redbean, an
open source web server that allows you to build local web apps in a single zip executable.{% endblock %}
{% block member_mission %}Extend the reach of universal binary files from
x86 chips to work on ARM chips.{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}