{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/simon_wardley-200.jpg" width="400" height="400"
    srcset="/img/profiles/simon_wardley-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Simon Wardley{% endblock %}
{% block member_company %}Wardley Maps for Good{% endblock %}
{% block member_bio %}Simon, a senior researcher at DXC Technology, specializes in the intersection
of strategy and new technologies. He is best known for the creation of Wardley mapping.{% endblock %}
{% block member_mission %}Can Wardley mapping help us find ways that
interactive games can be used to encourage beneficial behaviours within society?{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}