{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/simon_wardley-200.jpg" width="400" height="400"
    srcset="/img/profiles/simon_wardley-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Simon Wardley{% endblock %}
{% block member_company %}Wardley Maps for Good{% endblock %}
{% block member_bio %}Simon, a senior researcher at DXC Technology, specializes in the intersection of strategy and new technologies. He is best known for the creation of Wardley mapping.{% endblock %}
{% block member_mission %} Can Wardley mapping help us find ways that interactive games can be used to encourage beneficial behaviours within society?{% endblock %}

{% block project_desc %}

<p><a href="https://list.wardleymaps.com/">Wardley mapping</a> is a communication tool used to visualize and analyze complex systems and their interdependencies. It is a visual representation of a value chain at a point in time, depicting the various components of a system, the interactions between them, and the evolution of these components. These maps are particularly useful for strategic planning, innovation, and risk management, as they provide a framework for understanding the competitive landscape, identifying potential disruptions, and developing new business models. As such these maps help a wide variety of organizations to make informed decisions about technology investments, product development, and market positioning. It also helps them to anticipate and respond to changes in the business environment, such as technological advances, regulatory shifts, or changes in customer behavior.</p>

<p>However, these maps are not just limited to physical systems. They can be used to map processes, data, knowledge and even beliefs. It is this latter form that is of interest to the project.</p>

<p>Past maps have been used to explore the culture of particular collectives. One area of specific interest was the use of art (the symbols, protagonists and stories) to alter beliefs and ultimately behavior within a collective. The single largest form of art today is interactive video games. </p>

<p>The purpose of this project is to explore the use of mapping to identify ways and means to encourage beneficial behaviors within a larger collective through the choice of symbols, protagonists and stories told.</p>


{% endblock %}
{% block project_sub_text %}
{% endblock %}
<!-- collaborator text should be a string that will be added to a <p> tag-->
{% block collaborator_text %}
<p>Collaborators needed - game designers, story tellers, anthropologists, behavioral specialists, artists and those with a general interest on the interconnection between these areas.</p>

<p>To begin with, the project will create a focused community on discord to explore mapping of these landscapes and the viability of such an approach.</p>
{% endblock %}

{% block accomplishments %}
<p>I have a commercial background but for the past decade I have been primarily involved in private research involving the use of Wardley maps. I currently have 12 active research groups (involving 223 collaborators) across areas as diverse as healthcare to defence, examining the issue of future investment.</p>

<p>Wardley mapping has a vibrant community, it is published in many different books, has its own conferences and is taught on various university courses.</p>
{% endblock %}

{% block interests %}
<p>Topographical intelligence is a subject matter which absorbs most of my energy. Beyond this, my interest is in family and the future sustainability (or more likely not) of the systems we have created.</p>{% endblock %}