{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/simon_willison-200.jpg" width="400" height="400"
    srcset="/img/profiles/simon_willison-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Simon Willison{% endblock %}
{% block member_company %}Datasette{% endblock %}
{% block member_bio %}Simon, a serial entrepreneur and journalist, co-founded Lanyrd, a social
conference directory that was eventually acquired by Eventbrite. He is the co-creator of the
Django Web framework and was also a JSK Journalism Fellow at Stanford University.{% endblock %}
{% block member_mission %}Help people publish their data online in the
most flexible format for others to explore, analyze, and use.{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}