{% extends "base.html" %}

{% set initiatives = [
        { "title": "Metaverse / XR", "desc": "Mozilla Hubs is our private, fully open-source virtual world platform that runs right in your browser.", "link": "https://mozilla.org", "img": "/img/landing/xr.svg"},
        { "title": "Creation & user generated content", "desc": "Exploring the future of content creation outside the gated walls of social media platforms and big tech.", "link": "https://mozilla.org", "img": "/img/landing/creation.svg"},
        { "title": "AI & machine learning", "desc": "Mozilla Common Voice is an initiative to help teach machines how real people speak.", "link": "https://mozilla.org", "img": "/img/landing/ai.svg"},
        { "title": "Innovation ecosystem", "desc": "The Mozilla Internet Ecosystem (MIECO) Program funds innovators building a healthier internet experience.", "link": "/mieco", "img": "/img/landing/innovation.svg"}
    ]
%}

{% block page_title %}Innovations{% endblock %}

{% block page_css %}<link rel="stylesheet" href="/css/style.css">{% endblock %}

{% block content %}
    <!-- Hero -->
    <section class="c-innovation-hero mzp-t-dark">
        <div class="mzp-l-content">
            <div class="hero-text-wrapper">
                <h1>Innovations</h2>
                <h2>The exponential power of building on trust</h1>
                <p>Accelerating the future of a more human-centered internet</p>
                <a class="mzp-c-button mzp-t-dark" href="#newsletter">Join us</a>
            </div>
        </div>
    </section>
    <!-- vision -->
    <section class="c-innovation-split mzp-c-split mzp-l-split-body-wide">
        <div class="mzp-c-split-container">
            <div class="mzp-c-split-body">
                <h2>Our Vision</h2>
                <h3>A better internet, designed to serve humanity’s best interests</h3>
                <p>We're shaping a powerful new wave of innovation and transformation that enriches humanity — not just a handful of big
                companies.</p>
            </div>
            <div class="mzp-c-split-media">
                <img src="/img/landing/vision.svg">
            </div>
        </div>
    </section>
    <!-- approach -->
    <section class="c-innovation-split mzp-c-split mzp-l-split-body-wide mzp-l-split-reversed">
        <div class="mzp-c-split-container">
            <div class="mzp-c-split-body">
                <h2>Our Approach</h2>
                <h3>Experimentation + community</h3>
                <p>We believe the best innovation happens when a larger ecosystem of diverse people with diverse perspectives collaborate,
                swap code and openly trade ideas.</p>
            </div>
            <div class="mzp-c-split-media">
                <img src="/img/landing/experimentation.svg">
            </div>
        </div>
    </section>
    <!-- initiatives -->
    <section class="c-innovation-initiatives mzp-t-dark">
        <div class="mzp-l-content">
            <h2>Our Initiatives</h2>
            <div class="c-innovation-picto-grid">
                {% for initiative in initiatives %}
                    <section class="mzp-c-picto">
                        <div class="mzp-c-picto-image">
                            <img src="{{ initiative.img }}" alt="">
                        </div>
                        <h4 class="mzp-c-picto-heading">{{ initiative.title }}</h4>
                        <p>{{ initiative.desc }}</p>
                        <a class="c-picto-cta" href="{{ initiative.link }}">Learn more</a>
                    </section>
                {% endfor %}
            </div>
        </div>

    </section>
    <!-- newsletter -->
    <section class="mzp-l-content c-innovation-newsletter" id="newsletter-section">
        <aside class="mzp-c-newsletter">
            <h3>Keep up with our latest work</h3>
            <form id="newsletter-form" class="mzp-c-newsletter-form" name="newsletter-form">
                <fieldset class="mzp-c-newsletter-content">
                    <div class="mzp-c-form-errors hidden" id="newsletter-errors">
                        <ul class="mzp-u-list-styled">
                            <li class="error-email-invalid hidden">Please enter a valid email address with less than 120
                                characters</li>
                            <li class="error-privacy-policy hidden">You must agree to the privacy notice</li>
                            <li class="error-try-again-later hidden">We are sorry, but there was a problem with our system.
                                Please try again later!</li>
                        </ul>
                    </div>
                    <div>
                        <label for="email">Your email address</label>
                        <input type="email" class="mzp-js-email-field" id="email" name="email" placeholder="yourname@example.com"
                            required aria-required="true">
                    </div>
                    <div id="newsletter-details" class="mzp-c-newsletter-details">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" class="name" id="name" name="name">
                        </div>
                        <fieldset class="mzp-u-inline interests">
                            <label>What are you interested in learning more about?</label>
                            <label for="newsletter" class="mzp-u-inline">
                                <input class="newsletter" type="radio" name="interest" id="newsletter">Project Updates
                            </label>
                            <label for="collaboration" class="mzp-u-inline">
                                <input type="radio" name="interest" id="collaboration">Collaboration
                            </label>
                        </fieldset>
                        <div class="mzp-c-field description">
                            <label for="description">Description</label>
                            <textarea placeholder="What would you like to have us contact you about?" rows="5" cols="38"
                                name="description" id="description" maxlength="750"></textarea>
                        </div>
                        <p>
                            <label for="privacy" class="mzp-u-inline">
                                <input type="checkbox" id="privacy" name="privacy" required aria-required="true">
                                I’m okay with Mozilla handling my info as explained in <a
                                    href="https://www.mozilla.org/privacy/websites/">this Privacy Notice</a>
                            </label>
                        </p>
                    </div>
                    <p class="mzp-c-form-submit">
                        <button type="submit" class="mzp-c-button" id="newsletter-submit">Get in touch</button>
                        <span class="mzp-c-fieldnote">We will only send you Mozilla-related information.</span>
                    </p>
                </fieldset>
            </form>
        </aside>
    </section>
{% endblock %}

{% block js %}
    <script type="module" src="/scripts/email.js"></script>
{% endblock %}