{% extends "cohort-base.html" %}

{% block member_name %}Francisco Tolmasky{% endblock %}
{% block member_company %}Beyond oEmed{% endblock %}
{% block member_photo %}<img src="/img/profiles/francisco_tolmasky-200.jpg" width="400" height="400" srcset="/img/profiles/francisco_tolmasky-400.jpg 2x" alt="">{% endblock %}
{% block member_bio %}Francisco was a member of the original iPhone team at Apple, working on Mobile Safari. He later founded
280 North where he worked on the Cappuccino web framework, which was later acquired by Motorola. He is currently working
on RunKit, a revolutionary new way to interact with code.{% endblock %}
{% block member_mission %}Define a standardized method for discovering and
integrating 3rd party services into web pages in a secure, performant, and easy-to-use way.{% endblock %}


{% set profile_photo_src =  "/img/profiles/francisco_tolmasky-200.jpg" %}
{% set profile_photo_src_high_res = "/img/profiles/francisco_tolmasky-400.jpg" %}
