<!--
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}MIECO{% endblock %}</title>
    {% block page_css %}{% endblock %}
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/img/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
</head>
<body>
    <nav class="mzp-c-navigation mzp-t-dark">
        <div class="mzp-c-navigation-l-content">
            <div class="mzp-c-navigation-container">
                <div class="mzp-c-navigation-logo">
                    <a href="/">Mozilla</a>
                </div>
                {% block nav_cta %}
                <a href="#newsletter-section" class="mzp-c-button mzp-t-dark">
                    {% block nav_cta_text %}Collaborate with us{% endblock %}
                </a>
                {% endblock %}
            </div>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}{% include "partials/footer.html" %} {%endblock%}
    {% block js %}{% endblock %}
</body>
