{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/gordon_brander-200.jpg" width="400" height="400"
    srcset="/img/profiles/gordon_brander-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Gordon Brander{% endblock %}
{% block member_company %}Noosphere{% endblock %}
{% block member_bio %}Gordon worked on 5 browsers and an operating system while previously at
Google and Mozilla. Drawing from those experiences, his goal is to understand and create
open-ended ecosystems through software.{% endblock %}
{% block member_mission %}User-owned tools for thinking together. Building
an open and decentralized protocol for multiplayer note-taking that prioritizes user-owned data.{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}