{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/jeff_lindsay-200.jpg" width="400" height="400"
    srcset="/img/profiles/jeff_lindsay-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Jeff Lindsay{% endblock %}
{% block member_company %}Tractor System{% endblock %}
{% block member_bio %}Jeff is a rogue software engineer and veteran open source hacker. He is a
founder of SuperHappyDevHouse and Hacker Dojo, and helped create Docker, Twilio, and TIGSource.
He also pioneered webhooks and early ideas around serverless.{% endblock %}
{% block member_mission %}Enable people to build and integrate arbitrary
software systems from high leverage primitives through the "Photoshop of software."{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}