{% extends "base.html" %}

{% block page_title %}Responsible AI Challenge{% endblock %}

{% block page_css %}<link rel="stylesheet" href="/css/style.css">
<style>
</style>
{% endblock %}

{% block content %}
    <script
        type="text/javascript">document.write('<script src="http' + (("https:" == document.location.protocol) ? "s" : "") + '://survey.alchemer.com/s3/7275783/Responsible-AI-Challenge?__output=embedjs&__ref=' + escape(document.location.href) + '" type="text/javascript" ></scr' + 'ipt>');</script>
    <noscript>Take action on your data with <a href="https://www.alchemer.com/">Alchemer</a>. <a
            href="https://survey.alchemer.com/s3/7275783/Responsible-AI-Challenge??jsfallback=true">Please take my survey
            now</a></noscript>
    <style>
        .sg-survey {
            display: none;
        }
    </style>
{% endblock %}

{% block js %}


{% endblock %}
