{% extends "cohort-base.html" %}

{% block member_name %}Adam Bouhenguel{% endblock %}
{% block member_company %}Metered & Research Portfolio{% endblock %}
{% block member_bio %}Adam designs programming systems and tools for thinking. He started Tesserai
to build intelligent systems from simple, composable parts. He studied computer science at MIT.{% endblock %}
{% block member_mission %}Help people turn machine learning models and
other APIs into profitable, scalable businesses. Enable new funding models that reward
engineers, researchers, and scientists for their most impactful contributions.{% endblock %}
{% block member_photo %}<img src="/img/profiles/adam_bouhenguel-200.jpg" width="400" height="400" srcset="/img/profiles/adam_bouhenguel-400.jpg 2x" alt="">{% endblock %}

{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}
