{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/yoshiki_ohshima-200.jpg" width="400" height="400"
    srcset="/img/profiles/yoshiki_ohshima-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Yoshiki Ohshima{% endblock %}
{% block member_company %}Croquet Microverse{% endblock %}
{% block member_bio %}Yoshiki is both a computer scientist and software engineer who has published
dozens of academic papers. He has worked on creating new programming languages and environments,
designing and implementing dynamic interactive systems and applications.{% endblock %}
{% block member_mission %}Democratize the metaverse by enabling users and
developers to create and modify a world from within itself, all while interacting with other
users.{% endblock %}
{% block project_name %}{% endblock %}
{% block collaborator_text %}{% endblock %}
{% block accomplishments %}{% endblock %}
{% block interests %}{% endblock %}