{% extends "cohort-base.html" %}


{% block member_photo %}<img src="/img/profiles/yoshiki_ohshima-200.jpg" width="400" height="400"
    srcset="/img/profiles/yoshiki_ohshima-400.jpg 2x" alt="">{% endblock %}

{% block member_name %}Yoshiki Ohshima{% endblock %}
{% block member_company %}Croquet Microverse{% endblock %}
{% block member_bio %}Yoshiki is both a computer scientist and software engineer who has published
dozens of academic papers. He has worked on creating new programming languages and environments,
designing and implementing dynamic interactive systems and applications.{% endblock %}
{% block member_mission %}Democratize the metaverse by enabling users and
developers to create and modify a world from within itself, all while interacting with other
users.{% endblock %}

{% block project_desc %}Computers are most useful when people can create instructions to scratch their own itches. The “instructions” here often
mean “programs” but it can be any form of telling computers how to do things. However, the current form of programming
tends to be more complicated for non-computer experts. If we have a collaborative environment where people can learn
from each other in a fun way and make things together, that will improve the usefulness of computers. We draw upon the
ideas from Dynabook and Hypercard and all other things about end-user programming and try to make a good environment.{% endblock %}
{% block project_subtitle %}Subtitle{% endblock %}

{% block collaborator_text %}I think the biggest thing is that the frameworks and languages we make are used by other folks, and then we can improve
both sides of things together, learning from each other.
{% endblock %}

{% block accomplishments %}t may not be a single thing, but implementing ideas at the group lead by Alan Kay.{% endblock %}

{% block interests %}Books, Family, history, some sports.{% endblock %}